<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="antbuddy.htk.com.antbuddy2016">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--Camera-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ab_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="antbuddy.htk.com.antbuddy2016.service.AntbuddyApplication">

        <!-- Splash screen -->
        <activity
            android:name="antbuddy.htk.com.antbuddy2016.modules.login.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme ="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="antbuddy.htk.com.antbuddy2016.modules.login.activities.WalkThroughActivity"
            android:label="@string/app_name"
            android:theme ="@style/WelcomeTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="antbuddy.htk.com.antbuddy2016.modules.login.activities.LoReActivity"
            android:label="@string/app_name"
            android:theme ="@style/WelcomeTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="antbuddy.htk.com.antbuddy2016.modules.login.activities.CreateAccountActivity"
            android:label="@string/app_name"
            android:theme ="@style/WelcomeTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="antbuddy.htk.com.antbuddy2016.modules.login.activities.LoginActivity"
            android:label="@string/app_name"
            android:theme ="@style/WelcomeTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="antbuddy.htk.com.antbuddy2016.modules.login.activities.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:theme ="@style/WelcomeTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="antbuddy.htk.com.antbuddy2016.modules.login.activities.DomainActivity"
            android:label="@string/app_name"
            android:theme ="@style/WelcomeTheme"
            android:screenOrientation="portrait">
        </activity>

        <!-- Center -->
        <activity
            android:name=".modules.center.activities.CenterActivity"
            android:theme="@style/ABCenterThemeNoActionBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".modules.center.activities.SettingActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/setting_activity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="antbuddy.htk.com.antbuddy2016.modules.login.activities.LoadingActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/setting_activity"
            android:screenOrientation="portrait">
        </activity>

        LoadingActivity

        <!--<activity-->
            <!--android:name=".modules.center.activities.OpeningRoomActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme ="@style/AppTheme"-->
            <!--android:screenOrientation="portrait">-->
        <!--</activity>-->



		<!-- Chat -->
        <activity
            android:name=".modules.chat.ChatActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <!-- Service -->
        <service android:name="antbuddy.htk.com.antbuddy2016.service.AntbuddyService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.htk.antbuddy.services.AntbuddyService.BIND" />
                <action android:name="com.htk.antbuddy.services.AntbuddyService.UNBIND" />
            </intent-filter>
        </service>

        <receiver android:name=".service.CommonReceiver">
            <!-- Turn on and off device-->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

            <!-- Have a change internet connection-->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>

            <!-- Unlock device screen-->
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>


        <!-- Receive Wi-Fi connection state changes -->
        <receiver android:name="antbuddy.htk.com.antbuddy2016.myReceiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


    </application>
</manifest>
